html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fee1b7;
	font-family: Roboto, system-ui;
	display: flex;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.anchor-btn {
	position: relative;
	display: inline-block;
	color: #0cc2ff;
	text-decoration: none;
	padding: 5px 0;
	font-weight: bold;
	transition: color 0.3s ease;
}

.anchor-btn::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #54428E;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}

.anchor-btn:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.anchor-btn:hover {
	color: #54428E;
}

.navbar-btn {
	font-size: 3vh;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1vh;
	/* position: absolute;
	bottom: 20px;
	left: 10px; */
	right: 10px;
	border-radius: 25px;

	background-color: rgb(155, 155, 155);
}

.light-anchor-style {
	color: #74bcfc;
}

.light-anchor-style::after {
	background-color: #3179ee;
}

.light-anchor-style:hover {
	color: #3179ee;
}

.blue-btn {
	background-color: #3179ee;
}

.blue-btn:hover {
	background-color: #2266d3;
}

.blue-btn:disabled {
	background-color: gray;
}