:root {
	--white: #ffffff;
	--light-grey: #edf0f1;
	--violet: #655be1;
	--dark-violet: #5146e1;
	--black: #020e2b
	;
  }

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to right, #ffe9c4, #0b9fdd);
	font-family: Roboto, system-ui;
	display: flex;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.anchor-btn {
	position: relative;
	display: inline-block;
	color: #0cc2ff;
	text-decoration: none;
	padding: 5px 0;
	font-weight: bold;
	transition: color 0.3s ease;
}

.anchor-btn::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #54428E;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease;
}

.anchor-btn:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.anchor-btn:hover {
	color: #54428E;
}

.navbar-btn {
	font-size: 3vh;
}

.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}

.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1vh;
	/* position: absolute;
	bottom: 20px;
	left: 10px; */
	right: 10px;
	border-radius: 25px;

	background-color: rgb(155, 155, 155);
}

.mobile-nav {
	background: #F1F1F1;
	position: fixed;
	bottom: 0;
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.bloc-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bloc-icon img {
	width: 8vh;
}

/* Dynamic Tab Nav Bar Menu */
.tab {
	width:100vw;
	height: 80px;
	z-index: 1;
	user-select: none;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;

}

.tab .toggle {
	position: absolute;
	/* top: -50px; */
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 80px;
	background: #351233;
	z-index: 1;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items:end;
	color: #ffffff;
	font-size: 4.5em;
	transition: 1s ease-in-out;
	text-align: center;
}

.tab.active .toggle {
	transform: translateX(-50%) rotate(225deg);
}

.tab .actions,
.tab .actions-bg-1,
.tab .actions-bg-2
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 100px;
	background:#fdc4d4;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	z-index: -1;
	transform-origin: top center;
	transition: 1s ease-in-out;
}

.tab .actions-bg-1 {
	background: #ec87a1;
	transition: 0.5s ease-in-out;
	transition-delay: 0.5s;
}

.tab .actions-bg-2 {
	background: #ffffff;
	transition: 0.6s ease-in-out;
	transition-delay: 0.4s;
}

.tab.active .actions,
.tab.active .actions-bg-1,
.tab.active .actions-bg-2 {
	transform: translateX(-50%) rotate(180deg);
}

.tab.active .actions-bg-1,
.tab.active .actions-bg-2 {
	transition-delay: 0s;
}

.tab ul.action-ring {
	position:absolute;
	display: felx;
	justify-content: center;
	align-items: center;
	inset: 0;
}

.tab ul.action-ring li{
	list-style: none;
	display: flex;
	position: absolute;
	cursor: pointer;
}

.tab ul.action-ring li img {
	width: 5vw;
	z-index: 100;
	transform: rotate(180deg);
	pointer-events: none;
}

.tab ul.action-ring li:nth-child(1) {
	transform: translate(0px, -0px);
}

.tab ul.action-ring li:nth-child(2) {
	transform: translate(50px, 15px);
}

.tab ul.action-ring li:nth-child(3) {
	transform: translate(100px, -0px);
}


.tab ul.menu {
	position: absolute;
	inset: 0;
	background: white;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:55px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.tab ul.menu li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab ul.menu li img{
	font-size: 1.5em;
	color:#bbb;
	pointer-events: none;
	width: 8vw;
}

.tab ul.menu li:hover img{
	fill:#2196f3;

}

/* @media screen and (min-width: 600px) {
	.mobile-nav {
	display: none;
	}
} */

.light-anchor-style {
	color: #74bcfc;
}

.light-anchor-style::after {
	background-color: #3179ee;
}

.light-anchor-style:hover {
	color: #3179ee;
}

.blue-btn {
	margin: 1%;
	background-color: #3179ee;
}

.blue-btn:hover {
	background-color: #2266d3;
}

.blue-btn:disabled {
	background-color: gray;
}

.journey {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.journey:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.journey:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.journey:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.smaller-textbox {
	width: 50%;
	margin-bottom: 1%;
}

.image-container {
	width: 100%;
	height: 60%;

	display: flex;
	flex-direction: column;
	justify-content: end;

	/* margin: 0 auto; */
}

.image-container > img {
	max-width: 100%;
	max-height: 100%;

	margin: 0 auto;
}