#new-entry-btn {
	font-size: 2vh;
}

.entry-summary {
	width: 80%;
	background-color: white;
	color: black;

	padding-right: 1%;
	padding-left: 1%;

	margin-bottom: 2%;
	
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 10px;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#entries-container{
	width: 80%;
	height: 80%;
	border-radius: 10px;

	padding-top: 1%;

	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
	text-align: center;

	overflow-y:auto;
	background-color: white;
}