#new-entry-btn {
	font-size: 2vh;
}

.entry-summary {
	border-radius: 10px;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	width: 60vw;
	background-color: #208AAE;
	color: white;

	margin-bottom: 1vh;

	
}

#entries-container{

	height: 900px;

	padding-top: 1vh;
	padding-bottom: 1vh;

	overflow-y:auto;

}